<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.dzw.*"></context:component-scan>

    <bean id="poloCar" class="com.dzw.pojo.Car">
        <constructor-arg name="brand" value="VW"/>
        <constructor-arg name="color" value="yellow"/>
        <constructor-arg name="displacement" value="1.5L"/>
    </bean>

    <bean id="audiCar" class="com.dzw.pojo.Car">
        <constructor-arg name="brand" value="Audi"/>
        <constructor-arg name="color" value="grey"/>
        <constructor-arg name="displacement" value="1.7L"/>
    </bean>


    <bean name="zpBoss" class="com.dzw.pojo.Boss">
        <property name="name" value="zp"/>
        <property name="hobby" value="swim"/>
        <property name="company" value="Tx"/>
        <property name="car" ref="audiCar"/>
    </bean>

    <bean name="sycBoss" class="com.dzw.pojo.Boss">
        <property name="name" value="syc"/>
        <property name="hobby" value="run"/>
        <property name="company" value="Tx"/>
        <property name="car" ref="audiCar"/>
    </bean>

    <bean name="conference" class="com.dzw.pojo.Conference">
        <property name="theme" value="tx"/>
        <property name="bosses">
            <list>
                <ref bean="zpBoss"/>
                <ref bean="sycBoss"/>
            </list>
        </property>
    </bean>


</beans>